
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    1
</div>
<div>
    1
</div>
<div>
    1
</div>
<div>
    1
</div>




<div class="all">
    <div class="container">
        <div class="form">
            <div class="info">


                <h1 class="pay-done__head reddish">Thanh toán thành công!</h1>
                <div class="pay-done__icon"> <i class="fa fa-check reddish"></i></div>
                <p class="pay-done__thank">Thanh toán đã thực hiện thành công. Trong vòng 30 phút Shop sẽ liên hệ xác nhận thông tin giao hàng cho quý khách.</p>
                <ul class="pay-done__info">
                    <li class="pay-done__info__row">
                        <p class="pay-done__info__row__name">Hình thức thanh toán </p>
                        <p class="pay-done__info__row__detail">Chuyển khoản NH ACB</p>
                    </li>
                    <li class="pay-done__info__row">
                        <p class="pay-done__info__row__name">Địa chỉ nhận hàng </p>
                        <p class="pay-done__info__row__detail">Eahiu, Krông Pắk, Đăk Lăk</p>
                    </li>
                    <li class="pay-done__info__row">
                        <p class="pay-done__info__row__name"> Số điện thoại </p>
                        <p class="pay-done__info__row__detail">0379929712</p>
                    <li class="pay-done__info__row">
                        <p class="pay-done__info__row__name"> Mã giao dịch </p>
                        <p class="pay-done__info__row__detail">0123456789BDEF</p>
                    </li>
                </ul>


                <p>Mọi thắc mắc, hỗ trợ vui lòng gọi  <span class="pay-done__num">0379 929 712</span> hoặc <span class="pay-done__num"><a href="https://zalo.me/0379929712">Zalo</a> </span> (7h30 - 22h). Cám ơn quý khách đã cho Shop cơ hội phục vụ!</p>



                <div class="pay-done__button">
                    <button class="btn btn-1">
                        <a href="@Url.Action("Index", "Home")" class="btn btn-1"> < Tiếp tục mua sắm</a>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>



